.main {
  visibility: hidden;
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  gap: 2rem;

  .text {
    font-size: 4rem;
    font-weight: 700;
    margin: 0 auto;
    font-kerning: none;
  }

  .text2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    font-kerning: none;
  }
}
